

/* nav section styles */
.navBar{
    justify-content: space-between;
}
.navList{
margin:auto;
}

section {
    background-color: rgba(218, 177, 209, 0.339);
}

/* banner styles */

#Jumbo{
    padding-bottom: 40px;
}
.banner{
    display: flex;
    background-size:cover;
    height: 600px;
    width: 85dvw;
    margin: auto;
    background-position: center;
    background-size: cover;
    /* background-clip: inherit; */
    background-repeat: no-repeat;
    background-image: url('../images/flower-soap.jpg');
    /* background: rgba(116, 46, 46, 1); */
    text-align: center;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    
}

h2{
    text-shadow:black 1px 0 10px;
}

/* card container styles */
/* .cardContainer{
    width: 80%;
    margin: auto;
} */
.row {
    margin: auto;
    width: 95%;
}
.card {
    text-align: center;
    margin-bottom: 10px;
}

.card h5 {
    font-weight: bold;
}